/* Created by: Emilie LeSage MacLean
* Created on: Feb 2022
* This CSS file defines the style for index.html
* ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: Beige;
}

h1 {
  background-color: Lavender;
  color: hsl(228, 73%, 28%);
  padding: 40xp;
  text-align: center;
}

p {
  background-color: #8A9FBD;
  font-family: Lucida Console;
  font-size: 20px;
}